/*  */
section.cover {
    min-height: 500px !important;
}

footer {
    font-weight: 700;
}

footer .happy1 {
    font-weight: 700;
    color: #f00;
}

footer .happy2 {
    font-weight: 700;
    color: #42b983;
}
footer .click {
    display: block;
}


.app-nav ul {
    padding: 0;
}

.app-nav li ul {
    right: auto;
    left: -15px;
    z-index: 1;
}

.search input,.sidebar ul li a {
    font-size: 16px !important;
}

.sidebar ul li a:hover {
    text-decoration: none;
    font-weight: 700;
    color: #42b983;
}

.sidebar li.open li.file a{
    font-size: 14px !important;
}

.sidebar li.open li.file a.section-link strong{
    font-size: 14px !important;
}

@media only screen and (max-width: 480px) {

    .markdown-section>:first-child {
        margin-top: 60px !important;
    }

}